.scene-warpper .scene-main {
  position: relative;
  height: 500px;
}
.scene-warpper .scene-center {
  position: relative;
  height: 200px;
}
@keyframes flicker {
  0 {
    box-shadow: 0 0 5px #ccc;
  }
  50% {
    box-shadow: 0 0 20px #abcdef;
  }
  100% {
    box-shadow: 0 0 5px #abcdef;
  }
}
.animate-flicker {
  animation: flicker 1s infinite;
}
.animate-overturn {
  transform: rotateY(180deg);
}
.template {
  display: none;
}
.template-card-wrapper {
  width: 150px;
  line-height: 150px;
  text-align: center;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  position: absolute;
}
.template-card-wrapper:hover {
  cursor: pointer;
}
.template-card-wrapper .template-card-inner {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.template-card-wrapper .card-back,
.template-card-wrapper .card-first {
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.template-card-wrapper .card-first {
  transform: rotateY(180deg);
}
.template-card-wrapper .card-back {
  z-index: 2;
}
